*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: burlywood;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;

}
.box{
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background: #fff;
}
.square {
    background-color: white;
    border: 1px solid black;
}
.color {
    background-color: gray;
    border: 1px solid black;
}
